@font-face {
    font-family: "GameFont";
    src: url(/Font/Early_GameBoy.ttf);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.gameFont {
    font-family: "GameFont";
}

.font30 {
    font-size: 30px;
}